/*backgrounds*/
$light-block: #ffffff;
$menu-background: #ffffff;
$dark-block: #e1e1e1;
$overlay: rgba(0,0,0,0.5);

/*colors*/
$base-color: #212121;

/*transitions*/
$transition-3: 0.3s;

/*sizes*/
$cell-size-height: 10%;
$cell-size-width: 10%;

/*actions*/
$active-chess-aoutline: #9cb9d1;
